<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<ion-view view-title="update list">
  <ion-content>
	  <label class="item item-input ng-model">
		  <span class="input-label">Beschreibung</span>{{listId}}
<!-- 		  <input ng-model="updList.name" name="updListName" type="text"/> -->
	  </label>
<!-- 	<form ng-submit="saveEdits(list, 'submit')"> -->
<!-- 		<input class="edit" ng-trim="false" ng-model="list.name" todo-escape="revertEdits(todo)" ng-blur="saveEdits(todo, 'blur')" todo-focus="todo == editedTodo"> -->
<!-- 	</form> -->
  </ion-content>
</ion-view>

</body>
</html>